ul {
  position: relative;
  list-style-type: style type;
  padding: 0;
  overflow:auto;
  background-color: wheat;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-right: -10px;
  margin-left: -10px;
}
li {
  float:inline-start;
  text-align:left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 110px;
}

li a {
  display:block;
  color:rgb(156, 55, 55);
  text-decoration: none;
}

li a:hover {
  background-color: #585151;
}
h1 {
  color: rgb(238, 62, 194);
  margin-top: 100px;
  padding: 50;
  font-size: 400%;
  text-align: center;
  font-family:cursive;
  position: relative;
  
}
.styled-table thead tr {
  background-color:#64124c;
  color: #ffffff;
  text-align:center;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}
table, td, th {
  border: 1px solid;
   padding: 15px;
  text-align: left;
  font-family:sans-serif;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 120px;
  margin-left: 320px;
  
}
th,td  {
  height: 70px;
  text-align: center;
  font-family:cursive;

}
footer {
  background-color: wheat;
  margin-left: -10px;
  margin-right:-10px;
  margin-top: 150px;
  margin-bottom: -10px;
  padding:0px;
  position: relative;
  text-align: center;
}
p5{
  position:static;
  margin: 100px;;
}
th {
  margin: 100px;
}
img {
  height:250px;
  width:250px;
  margin-top: -30px;
  margin-left: 200px;
}
h2{
  color: wheat;
  font-size: 200%;
  font-family:cursive;
  margin-left: 700px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 110px;
}
h3 {
  color: wheat;
  font-family:cursive;
  margin-left:600px;
  margin-right: 100px;
  margin-bottom: 50px;
  margin-top: 200px;
}

p10 {
  margin-left: 570px;
  text-align: center;
}
p50{
  text-align: center;
}
#mine {
  border-radius: 50%;
}
p{
  border: 1px solid #756363;
  margin-top: -150px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 550px; 
  width:550px;  
  height:100px;
  text-align: center;
}
p50{
  width: 500px;
font-size: 30px;}
input {
  width: 300px;
  height: 30px;
  margin:1%;
}

#sub{
  background: #585151;
  width: 150px;
  height: 50px;
}
#msg{
  height: 70px;
  margin-right: 45px;
}
.solid{
  color: #f3f3f3;
  font-size: 27px;
  }

.container {
  height: 100px;
  width:300px;
  align-items: center;
  display:block;
  justify-content: center;
  margin-left: 500px;
  margin-bottom: 150px;
}

.card {
  border-radius: 2px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 20px;
  padding: 10px 10px 10px;
}

.card h3 {
  font-size: 2px;
  font-weight: 600;
  
}

.drop_box {
  margin: 10px ;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #b32995;
  margin-top: 10px;
  color: #ffffff;
  padding: 10px 10px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  color: #243a5f;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px;
  width: 50%;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

  
  
  